{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content%}
		<section id="banner">
				<div class="block">
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
						</ol>

						<!-- Wrapper for slides -->
			        <div class="slider-list">
						<div class="slider">
						<div class="carousel-inner">
							<div class="item active">
								<img src="{% static 'img/car.jpg' %}" alt="Los Angeles" class="responsive">
								<div class="carousel-caption">
									<h3>When the power meets the efficiency</h3>
									<p>Hercules Car</p>
								</div>
							</div>
							<div class="scrolldown">
					            <a id="scroll" href="#features" class="scroll"></a>
					        </div>
									{% for slide in slider %}
										<div class="item">
											<img src="{{ slide.thumb.url }}" alt="Chicago" class="responsive">
											<div class="carousel-caption">
												<h3>{{ slide.title }}</h3>
												<p>{{ slide.title2 }}</p>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
		</section>

		<section id="features">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>We were competing there !</h2>
							<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-easel"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Moroccan Solar Race Challenge 2013</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-paintbucket"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Moroccan Solar Race Challenge 2014</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-ribbon-a"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Moroccan Solar Race Challenge 2015</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-ribbon-b"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Costa de la luz Challenge 2016</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-trophy"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Moroccan Solar Race Challenge 2016</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-trophy"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">TÜBİTAK Efficiency Challenge</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">we compete there Somehow :P !! </p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="counter">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>Technical specifications</h2>
						<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="block wow fadeInRight" data-wow-delay=".3s">
							<i class="ion-code"></i>
							<p class="count-text">
								<span class="counter-digit">Composite carbon chassis </span>
							</p>
							<p>Hercules’s chassis is a composite moncoque chassis which is integrated into the composite lower body. Designed to protect the driver from impacts, it serves as the backbone of the car.</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="block wow fadeInRight" data-wow-delay=".5s">
							<i class="ion-compass"></i>
							<p class="count-text">
								<span class="counter-digit">Electrical system </span>
							</p>
							<p>The high voltage system includes the battery pack, embedded charging unit, motor controller and motor, A CAN network links the primary vehicle computer to various monitoring components in order to alert the driver of any irregularities, and enables constant communication between the car and the support vehicles.</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="block wow fadeInRight" data-wow-delay=".7s">
							<i class="ion-compose"></i>
							<p class="count-text">
								<span class="counter-digit">Autonomous System</span>
							</p>
							<p>Hercules’s has two cameras that acquire in real time the landscape in front of it, and uses those images in the autonomous driving mode</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="block wow fadeInRight" data-wow-delay=".9s">
							<i class="ion-image"></i>
							<p class="count-text">
								<span class="counter-digit">Aerodynamic body</span>
							</p>
							<p>Hercules has an aerodynamic shape that reduces the consumption of energy.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="portfolio">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>The Team</h2>
							<p>All the members from All Teams</p>
						</div>
						<div class="block">
							<div class="recent-work-mixMenu">
								<ul>
									<li><button class="filter" data-filter="all">All</button></li>
									<li><button class="filter" data-filter=".category-1">Managers</button></li>
									<li><button class="filter" data-filter=".category-2">Mechanic Team</button></li>
									<li><button class="filter" data-filter=".category-3">Electrical Team</button></li>
									<li><button class="filter" data-filter=".category-4">S.M.L Team</button></li>
								</ul>
							</div>
							<div class="recent-work-pic">
								<ul id="mixed-items">
									<li class="mix category-1 col-md-4 col-xs-6" data-my-order="1">
										<a class="example-image-link" href="{% static 'membres/omar.png' %}"" data-lightbox="example-set">
											<img class="img-responsive" src="{% static 'membres/omar.png' %}"" alt="">
											<div class="overlay">
													<h3>Omar ZENDAGUI</h3>
													<h4>Project Manager</h4>
													<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-2 col-md-4 col-xs-6" data-my-order="2">
										<a class="example-image-link" href="{% static 'membres/hiba.png' %}"" data-lightbox="example-set">
											<img class="img-responsive" src="{% static 'membres/hiba.png' %}"" alt="">
											<div class="overlay">
												<h3>Hiba HMITO</h3>
												<h4>Hardware DEVELOPER</h4>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-3 col-md-4 col-xs-6" data-my-order="3">
										<a class="example-image-link" href="{% static 'membres/mazighe.png' %}"" data-lightbox="example-set">
											<img class="img-responsive" src="{% static 'membres/mazighe.png' %}"" alt="">
											<div class="overlay">
												<h3>Mohamed MAZIGHE</h3>
												<h4>Elec Team Leader</h4>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-3 col-md-4 col-xs-6" data-my-order="4">
										<a class="example-image-link" img="logos/avatar.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="logos/avatar.jpg" alt="">
											<div class="overlay">
												<h3>Mohammed OULAD LAARBI</h3>
												<h4>Hardware DEVELOPER</h4>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-3 col-md-4 col-xs-6" data-my-order="4">
										<a class="example-image-link" href="{% static 'membres/kenza.png' %}"" data-lightbox="example-set">
											<img class="img-responsive" src="{% static 'membres/kenza.png' %}"" alt="">
											<div class="overlay">
												<h3>Kenza RISHI</h3>
												<h4>Hardware DEVELOPER</h4>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-2 col-md-4 col-xs-6" data-my-order="5">
										<a class="example-image-link" href="{% static 'membres/khalid.png' %}"" data-lightbox="example-set">
											<img class="img-responsive" src="{% static 'membres/khalid.png' %}"" alt="">
											<div class="overlay">
												<h3>Khalid CHAOUIA</h3>
												<h4>Mechanical Team Leader</h4>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-3 col-md-4 col-xs-6" data-my-order="6">
										<a class="example-image-link" href="{% static 'membres/ayman.png' %}"" data-lightbox="example-set">
											<img class="img-responsive" src="{% static 'membres/ayman.png' %}"" alt="">
											<div class="overlay">
												<h3>Ayman BENALI</h3>
												<h4>Computer Science</h4>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-3 col-md-4 col-xs-6" data-my-order="5">
										<a class="example-image-link" href="{% static 'membres/rajae.png' %}"" data-lightbox="example-set">
											<img class="img-responsive" src="{% static 'membres/rajae.png' %}"" alt="">
											<div class="overlay">
												<h3>Rajae LAABISSI</h3>
												<h4>Hardware DEVELOPER</h4>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-3 col-md-4 col-xs-6" data-my-order="5">
										<a class="example-image-link" href="{% static 'membres/bader.png' %}"" data-lightbox="example-set">
											<img class="img-responsive" src="{% static 'membres/bader.png' %}"" alt="">
											<div class="overlay">
												<h3>Badreddine ZIANE</h3>
												<h4>Hardware DEVELOPER</h4>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-4 col-md-4 col-xs-6" data-my-order="5">
										<a class="example-image-link" href="{% static 'membres/randa.png' %}"" data-lightbox="example-set">
											<img class="img-responsive" src="{% static 'membres/randa.png' %}"" alt="">
											<div class="overlay">
												<h3>Randa IMAGHNOUJEN</h3>
												<h4>Solar panels</h4>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-4 col-md-4 col-xs-6" data-my-order="5">
										<a class="example-image-link" href="logos/avatar.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="logos/avatar.jpg" alt="">
											<div class="overlay">
												<h3>Hanae AKCHA</h3>
												<h4>Sponsoring</h4>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-1 col-md-4 col-xs-6" data-my-order="5">
										<a class="example-image-link" href="logos/avatar.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="logos/avatar.jpg" alt="">
											<div class="overlay">
												<h3>Hamza KHLIFI</h3>
												<h4>RH</h4>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-3 col-md-4 col-xs-6" data-my-order="5">
										<a class="example-image-link" href="logos/avatar.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="logos/avatar.jpg" alt="">
											<div class="overlay">
												<h3>ELIES</h3>
												<h4>Lightening</h4>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="play-video">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<h2 class="wow fadeInUp" data-wow-delay=".3s">Our Video</h2>
							<p class="wow fadeInUp" data-wow-delay=".5s">Dantes remained confused and silent by this explanation of the </p>
							<a href="https://www.youtube.com/watch?v=z07HoKm_anI" class="html5lightbox" data-width=800 data-height=400>
								<div class="button ion-ios-play-outline wow zoomIn" data-wow-delay=".3s"></div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="team">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>The Team Leaders</h2>
						<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6">
						<div class="block wow fadeInLeft" data-wow-delay=".3s">
							<img src="{% static 'membres/khalid.png' %}"" alt="">
							<div class="team-overlay">
								<h3>Khalid CHIOUA <span>Mechanical Team Leader</span></h3>
								<span class="icon"><i class="ion-quote"></i></span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
							</div>
						</div>
					</div>
					<div class="col-md-4  col-sm-4 col-xs-6">
						<div class="block wow fadeInLeft" data-wow-delay=".6s">
							<img src="{% static 'membres/mazighe.png' %}"" alt="">
							<div class="team-overlay">
								<h3>Mohamed MAZIGHE <span>Elec Team Leader</span></h3>
								<span class="icon"><i class="ion-quote"></i></span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
							</div>
						</div>
					</div>
					<div class="col-md-4  col-sm-4 col-xs-6">
						<div class="block wow fadeInLeft" data-wow-delay=".9s">
							<img src="{% static 'logos/avatar.jpg' %}" alt="" style="height: 242px; width: 360px">
							<div class="team-overlay">
								<h3>Hanae AKCHA <span>S.M.L Team Leader</span></h3>
								<span class="icon"><i class="ion-quote"></i></span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="pricing-table">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>Our sponsorship packages</h2>
						<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
					</div>
					<div class="col-md-4 col">
						<div class="block text-center wow fadeInLeft" data-wow-delay=".3s">
							<ul>
								<li>
									<h4>MAIN</h4>
									<p>+15 000 €</p>
								</li>
								<li><p>Logo on the car 40x40cm</p></li>
								<li><p>Social Media Advertisements</p></li>
								<li><p>A dedicated part to the logo in our videos</p></li>
								<li><p>Logo on t-shirts of members of the team</p></li>
								<li><p>Logo on the suit and helmet of the pilot</p></li>
								<li><p>Redirection and a dedicated page on our website</p></li>
								<li><p>Logo on our roll-ups and brochures</p></li>
								<li><p>Official thanks in the presentation</p></li>
								<li>
									<a href="#" class="btn btn-buy">BUY NOW</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 col">
						<div class="block text-center wow fadeInLeft" data-wow-delay=".3s">
							<ul>
								<li>
									<h4>GOLD</h4>
									<p>+7500 €</p>
								</li>
								<li><p>Logo on the car 20x20cm</p></li>
								<li><p>Social Media Advertisements</p></li>
								<li><p>A dedicated part to the logo in our videos</p></li>
								<li><p>Logo on our brochures</p></li>
								<li><p>  <br> </p></li>
								<li><p>  <br> </p></li>
								<li><p>  <br> </p></li>
								<li><p>  <br> </p></li>
								<li>
									<a href="#" class="btn btn-buy">BUY NOW</a>
								</li>
							</ul>
						</div>
					</div>
			<!--		<div class="col-md-4 col">
						<div class="block text-center wow zoomIn" data-wow-delay=".3s">
							<ul>
								<li>
									<h4>Project estimates</h4>
									<p>&#36; 54 000</p>
								</li>
								<li><p>BLDC Motor, Motor controller</p><span>/8 000 €</span></li>
								<li><p>Li-ion cells, BMS</p><span>/4 000 €</span></li>
								<li><p>Can Bus, DashBoard, VCU</p><span>/2 000 €</span></li>
								<li><p>Composit materials and tools</p><span>/20 000 €</span></li>
								<li><p>Steering, suspensions, braking</p><span>/5 000 €</span></li>
								<li><p>Lighting, seets, driver suit</p><span>/3000 €</span></li>
								<li><p>Vehicule transport, team transport and accommondation</p><span>/12 000 €</span></li>
								<li>
									<a href="#" class="btn btn-buy">BUY NOW</a>
								</li>
							</ul>
						</div>
					</div>
			-->
					<div class="col-md-4 col">
						<div class="block text-center wow fadeInRight" data-wow-delay=".3s">
							<ul>
								<li>
									<h4>SILVER</h4>
									<p>+2000 €</p>
								</li>
								<li><p>Logo on the car 15x15cm</p></li>
								<li><p>Social Media Advertisements</p></li>
								<li><p>A dedicated part to the logo in our videos</p></li>
								<li><p>  <br> </p></li>
								<li><p>  <br> </p></li>
								<li><p>  <br> </p></li>
								<li><p>  <br> </p></li>
								<li><p>  <br> </p></li>
								<li>
									<a href="#" class="btn btn-buy">BUY NOW</a>
								</li>
							</ul>
						</div>
					</div>
					</div>
				</div>
			</div>
		</section>

		<section id="blog">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>Blog</h2>
							<p>Blogs that writed by our membres</p>
						</div>
							<div class="article_detail">
								<div class="articles">
									<div id="blog-post" class="owl-carousel">
											{% for article in articles %}
												<div>
													<div class="block">
													<img src="{{ article.thumb.url }}" alt="" class="img-responsive">
														<div class="article">
															<div class="content">
																<h4><a href="{% url 'articles:detail' slug=article.slug %}">{{ article.title }}</a></h4>
																<small>By {{article.author}} </small>
																<p>{{ article.date }}</p>
																<p>{{ article.snippet }}</p>
																<a href="{% url 'articles:detail' slug=article.slug %}" class="btn btn-read">Read More</a>
															</div>
														</div>
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
								<div>
							</div>
						</div>		
					</div>
				</div>
			</div>
		</section>

		<section id="testimonial">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>Opinions</h2>
						<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInLeft" data-wow-delay=".3s">
						  <div class="media-left">
						    <a href="#">
						      <img src="{% static 'membres/MO.jpg' %}"" alt="">
						    </a>
						  </div>
						  <div class="media-body">
						    <a href="#"><h4 class="media-heading">Mustapha Ouardouz</h4></a>
						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
						  </div>
						</div>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInRight" data-wow-delay=".3s">
						  <div class="media-left">
						    <a href="#">
						      <img src="img/service-img.png" alt="">
						    </a>
						  </div>
						  <div class="media-body">
						    <a href="#"><h4 class="media-heading">Ibrahim Hadj Baraka</h4></a>
						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
						  </div>
						</div>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInLeft" data-wow-delay=".3s">
						  <div class="media-left">
						    <a href="#">
						      <img src="{% static 'membres/MAK.png' %}"" alt="">
						    </a>
						  </div>
						  <div class="media-body">
						    <a href="#"><h4 class="media-heading">Mhamed Ait-lkbir</h4></a>
						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
						  </div>
						</div>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInRight" data-wow-delay=".3s">
						  <div class="media-left">
						    <a href="#">
						      <img src="{% static 'membres/EM.jpg' %}"" alt="">
						    </a>
						  </div>
						  <div class="media-body">
						    <a href="#"><h4 class="media-heading">Elon Musk</h4></a>
						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="client-logo">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<div id="Client_Logo" class="owl-carousel">
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'logos/AA.png' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'logos/Tesla.png'%}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'img/clientLogo/client-logo3.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'img/clientLogo/client-logo4.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'img/clientLogo/client-logo5.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'img/clientLogo/client-logo6.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'img/clientLogo/client-logo1.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'img/clientLogo/client-logo2.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'img/clientLogo/client-logo3.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'img/clientLogo/client-logo4.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'img/clientLogo/client-logo5.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'img/clientLogo/client-logo6.jpg' %}" alt=""></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="contact-form">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>CONTACT US</h2>
						<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
					</div>
					<div class="col-md-6 col">
						<!-- map -->
						<div class="map">
	                      <div>
							<iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=35.71246~-5.903620000000003&lvl=12&typ=d&sty=h&src=SHELL&FORM=MBEDV8" scrolling="no">
							</iframe>
							<div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
								<a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=35.71246~-5.903620000000003&amp;sty=h&amp;lvl=12&amp;FORM=MBEDLD">View Larger Map</a> &nbsp; | &nbsp;
								<a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=35.71246~-5.903620000000003&amp;sty=h&amp;lvl=12&amp;rtp=~pos.35.71246_-5.903620000000003____&amp;FORM=MBEDLD">Get Directions</a>
							</div>
							</div>
	                   </div><!--/map--> 

					</div>
					<div class="col-md-6">
						<form>
                            <input type="text" class="form-control" placeholder="Name">
                            <input type="text" class="form-control" placeholder="Email">
                            <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                            <button class="btn btn-default" type="submit">SEND</button>
                        </form>
					</div>
				</div>
			</div>
		</section>
{% endblock %}
